#home-page {
  .label-div {
    display:inline-block;
  }
  input {
    display:none;
  }
  .filter-label {
    border-radius: 5px;
    margin:3px 3px;
    border:#fff 2px solid;
    padding:5px 10px;
    background-color:$primary-color;
    box-shadow: none;
    color:#fff;
    font-size:16px;
    display:inline-block;
  }
  :checked + .filter-label {
    background:white;
    color:$primary-color;
  }
}


#search-page #search-page-filters {
  .label-div {
    display:block;
  }
  input {
    display:none;
  }
  .filter-label {
    border-radius: 5px;
    margin:0px 0px;
    // border:#fff 1px solid;
    padding:2px 7px;
    margin-top:5px;
    background-color:$primary-color;
    box-shadow: none;
    color:#fff;
    font-size:16px;
  }
  :checked + .filter-label {
    background:white;
    color:$primary-color;
    // border:#fff 1px solid;
  }
  .close-button-icon {
    display:none;
  }
}



@media only screen and (max-width: 992px) {
  #search-page #search-page-filters {
    padding-right:0px;
    padding-left:0px;
    display:block;
    position:fixed;
    right:0;
    top:0px;
    background:$primary-color;
    width:0%;
    height:100%;
    overflow-x:hidden;
    z-index:15;
    transition:all .5s;
    .close-button-icon {
      position:absolute;
      top:60px;
      right:20px;
      font-size:2rem;
      color:white;
      opacity:85%;
      display:block;
    }
    .label-div {
      position:relative;
      top:130px;
      width:100%;
      text-align: center;
    }
    .heading {
      position:relative;
      top:130px;
      width:100%;
      text-align: center;
      color:white;
      font-size:20px;
    }
    input {
      display:none;
    }
    .filter-label {
      border-radius: 5px;
      margin:5px 5px;
      border:#fff 1px solid;
      padding:2px 7px;
      margin-top:5px;
      background-color:$primary-color;
      box-shadow: none;
      color:#fff;
      font-size:16px;
      justify-content: center;
    }
    :checked + .filter-label {
      background:white;
      color:$primary-color;
      border:#fff 1px solid;
    }
  }
}





