
#home-page {
  .label-div {
    display:inline-block;
  }
  input {
    display:none;
  }
  .filter-label {
    border-radius: 5px;
    margin:3px 1px;
    border:#fff 2px solid;
    padding:5px 10px;
    background-color:$primary-color;
    box-shadow: none;
    color:#fff;
    font-size:16px;
    display:inline-block;
  }
  :checked + .filter-label {
    background:white;
    color:$primary-color;
  }
}


#search-page {
  .search-bar-container {
    padding:0;
  }
  .label-div {
    display:block;
  }
  input {
    display:none;
  }
  .filter-label {
    border-radius: 5px;
    margin:0px 0px;
    border:#fff 2px solid;
    padding:3px 10px;
    margin-top:5px;
    background-color:$primary-color;
    box-shadow: none;
    color:#fff;
    font-size:16px;
  }
  :checked + .filter-label {
    background:white;
    color:$primary-color;
    border:#fff 2px solid;
  }
}




// .filters-mobile {
//   button {
//     background:$primary-color;
//     color:white;
//     border-radius: 5px;
//     padding:3px 10px;
//     border:none;
//     margin-top: 10px;
    
//   }
// }