// OVERWRITING FORM STYLES
#admin-edit-form{
  label {
    margin-bottom:0px !important;
    font-size:14px !important;
  }
  .form-control[type=text]{
    font-size:14px !important;
  }
  .form-control{
    padding:0px !important; 
    height:auto !important;
  }
}