@import "variables";
@import "filters";
@import "foodCard";
@import "searchBar";
@import "mobile";

// GENERIC STYLES
body,html {
font-family: 'Montserrat', sans-serif;
}

.spacer {
  height:80px;
}


.spacer-2{
  padding-top:117px;
}

h3 {
  color:white;
}

// .my-check-box {
//   padding:1rem;
//   border:white solid 2px;
// }

// :checked + .my-check-box {
//   background:orange;
// }

// #home-page-filters input {
//   display:none;
// }

// .filter-label {
// border-radius: 5px;
//   margin:3px 1px;
//   border:#fff 2px solid;
//   padding:5px 10px;
//   background-color:$primary-color;
//   box-shadow: none;
//   color:#fff;
//   opacity: 85%;
//   font-size:20px;

// }

// :checked + .filter-label {
//   background:purple;
// }


// .label-div {
//   display:inline-block;
// }


.nav-link {
  color:white !important;
}















































.primary-heading {
  font-size:24px;
  color:#fff;
  font-family:'Montserrat', sans-serif;
  text-align: center;
}

.primary-heading-container{
  position: relative;
  top:80px;
}


#home-title{
  font-size:26px;
  color:#fff;
}

#home-page {
  background-color:$primary-color;
}

.my-title {
  color:#fff;
  font-size:16px;
  padding-bottom: 10px;
  padding-left:10px;
  margin-bottom:0px;
}

.nav-col{
  background-color: $primary-color !important;
}

// Card Design

// .navbar-toggler-icon {
//   position: absolute;
//   top:10px;
//   right:10px;
// }



// .search-bar {
//   padding-bottom:15px;
//   input {
//     height:40px;
//     width: 96%;
//     position:relative;
//     display:block;
//     margin:0 auto;
//     border-radius: 5px;
//     border:0px solid black;
//   }
// }


// FILTER BUTTONS
// .filter-buttons {
//   padding-left:0px;
//   margin:0 auto;
// }

// .filter-buttons li {
//   display:inline;;
// }

// .filter-buttons li button {
//   border-radius: 5px;
//   margin:3px 1px;
//   border:#fff 2px solid;
//   padding:5px 10px;
//   background-color:$primary-color;
//   box-shadow: none;
//   color:#fff;
//   opacity: 85%;
//   font-size:20px;
// }

// .filter-buttons li button.active {
//   background-color: #fff;
//   color:$primary-color;
//   opacity:90%;
// }

// .filter-buttons li button:hover {
//   background-color: #fff;
//   color:$primary-color;
//   opacity:90%;
// }



