<% include ../partials/mainHeader %>


<div class="container pt-5 pb-3">
  <button id='addNew' onclick="displayForm()" class='btn btn-secondary'>Add New Location</button>
</div>





<div class="container adding-form">
  <form action="/admin" method='POST'>
    <% include ./forms/restaurantInfo %>
    <button class='btn btn-secondary d-block'>Submit</button>
  </form>
</div>






<div class="container pt-3">
  <ol>
    <% data.forEach(restaurant => { %>
    <li><a href="/admin/<%= restaurant._id %>"><%= restaurant.restaurantInfo.name %></a></li>
    <% }) %>
  </ol>
</div>





<% include ../partials/mainFooter %>