<% include ../partials/mainHeader %>


<div class="container pt-5 pb-3 ml-auto">
  <button id='addNew'>Add New Location</button>
</div>

<div class="container adding-form">
  <form action="/admin" method='POST'>
    <div class="form-group row">
      <label class='col-sm-2 col-form-label' for="name">name</label>
      <div class="col-sm-10">
        <input id='name' name='name' type="text" required>
      </div>
      <label class='col-sm-2 col-form-label' for="website">website</label>
      <div class="col-sm-10">
        <input id='website' name='website' type="text" required>
      </div>
      <label class='col-sm-2 col-form-label' for="phone">phone</label>
      <div class="col-sm-10">
        <input id='phone' name='phone' type="text" required>
      </div>
      <label class='col-sm-2 col-form-label' for="address">address</label>
      <div class="col-sm-10">
        <input id='address' name='address' type="text" required>
      </div>
      <label class='col-sm-2 col-form-label' for="city">city</label>
      <div class="col-sm-10">
        <input id='city' name='city' value='Oxnard' type="text" required>
      </div>
      <label class='col-sm-2 col-form-label' for="zip">zip</label>
      <div class="col-sm-10">
        <input id='zip' name='zip' type="text" required>
      </div>
      <label class='col-sm-2 col-form-label' for="mon">mon</label>
      <div class="col-sm-10">
        <input id='mon' name='mon' type="text" required>
        <a href='#' id='duplicate-hours' class='btn btn-secondary'>Apply to All</a>
      </div>
      <label class='col-sm-2 col-form-label' for="tue">tue</label>
      <div class="col-sm-10">
        <input id='tue' name='tue' type="text" required>
      </div>
      <label class='col-sm-2 col-form-label' for="wed">wed</label>
      <div class="col-sm-10">
        <input id='wed' name='wed' type="text" required>
      </div>
      <label class='col-sm-2 col-form-label' for="thu">thu</label>
      <div class="col-sm-10">
        <input id='thu' name='thu' type="text" required>
      </div>
      <label class='col-sm-2 col-form-label' for="fri">fri</label>
      <div class="col-sm-10">
        <input id='fri' name='fri' type="text" required>
      </div>
      <label class='col-sm-2 col-form-label' for="sat">sat</label>
      <div class="col-sm-10">
        <input id='sat' name='sat' type="text" required>
      </div>
      <label class='col-sm-2 col-form-label' for="sun">sun</label>
      <div class="col-sm-10">
        <input id='sun' name='sun' type="text" required>
      </div>
      <button class='btn btn-secondary'>Submit</button>

    </div>
  </form>
</div>

<div class="container ">
  <ol>
    <% data.forEach(restaurant => { %>
    <li><a href="admin/<%= restaurant._id %> "><%= restaurant.name %></a></li>
    <% }) %>
  </ol>
</div>

<form method="POST" action="/admin/edit?_method=put">
  <button>Submit</button>
</form>



<% include ../partials/mainFooter %>