<div class="card">
  <div class='card-tab'>Happy Hour</div>
  <div class="card-body">
    <a href="/spot/asdf"><h4 class="card-subtitle">McDonalds <i class="fas fa-long-arrow-alt-right"></i></h4></a>
    <h2 class="card-title"><%= element.name %></h2>
    <hr>
    <h4 class="card-subtitle">Ingredients</h4>
    <p class="card-text"><%= element.ingredients %>
    </p>
    <h4 class="card-subtitle">Attributes</h4>
    <p class="card-text dish-attributes">
      <% if (element.attributes.vegan == true) { %>
       vegan
      <% } %>
      <% if (element.attributes.spicy == true) { %>
       spicy
      <% } %>
    </p>
  </div>
</div>