<div class="card">
  <div class='card-tab'>Happy Hour</div>
  <div class="card-body">
    <a href="/spot/<%= element._id %> "><h4 class="card-subtitle card-link"><%= element.restaurant %> <i class="fas fa-long-arrow-alt-right"></i></h4></a>
    <h2 class="card-title"><%= element.name %></h2>
    <hr>
    <h4 class="card-subtitle">Ingredients</h4>
    <p class="card-text"><%= element.ingredients %>
    </p>
    <h4 class="card-subtitle">Attributes</h4>
    <p class="card-text dish-attributes">
    
    </p>
  </div>
</div>