<div class="card">
  <div class='card-tab'>Happy Hour</div>
  <div class="card-body">

      <h4 class="card-subtitle">McDonalds <i class="fas fa-long-arrow-alt-right"></i></h4>

    <h2 class="card-title">Some Bomb Food</h2>
    <hr>
    <h4 class="card-subtitle">Phone</h4>
    <p class="card-text">805-111-1111
    </p>
    <h4 class="card-subtitle">Website</h4>
    <p class="card-text dish-attributes">
      bob.com
    </p>
  </div>
</div>