<div class='label-div'>
  <input form='main-form' type="checkbox" id="under_10" name="under_10" value="true">
  <label class='filter-label' form='main-form' for="under_10"> Under 10 Bucks </label><br>
</div>

<div class='label-div'>
  <input form='main-form' type="checkbox" id="holeInWall" name="holeInWall" value="true">
  <label class='filter-label' form='main-form' for="holeInWall">Hole in the Wall</label><br>
</div>

<div class='label-div'>
  <input form='main-form' type="checkbox" id="happyHour" name="happyHour" value="true">
  <label class='filter-label' form='main-form' for="happyHour">in Happy Hour</label><br>
</div>

<div class='label-div'>
  <input form='main-form' type="checkbox" id="alcohol" name="alcohol" value="true">
  <label class='filter-label' form='main-form' for="alcohol">Beer & Alcohol</label><br>
</div>