<div class='pt-5' id='desktopFilters'>
  <h5>Food Criteria</h5>
<input form='main-form' type="checkbox" id="vegan" name="vegan" value="true">
<label form='main-form' for="vegan">Vegan</label><br>


<input form='main-form' type="checkbox" id="vegetarian" name="vegetarian" value="true">
<label form='main-form' for="vegetarian">Vegetarian</label><br>

<input form='main-form' type="checkbox" id="spicy" name="spicy" value="true">
<label form='main-form' for="spicy">Spicy</label><br>


<input form='main-form' type="checkbox" id="under_10" name="under_10" value="true">
<label form='main-form' for="under_10"> Under 10 Bucks </label><br>

  <h5 class='pt-3'>Restaurant Criteria</h5>
<input form='main-form' type="checkbox" id="holeInWall" name="holeInWall" value="true">
<label form='main-form' for="holeInWall">Hole in the Wall</label><br>

<input form='main-form' type="checkbox" id="happyHour" name="happyHour" value="true">
<label form='main-form' for="happyHour">in Happy Hour</label><br>

<input form='main-form' type="checkbox" id="alcohol" name="alcohol" value="true">
<label form='main-form' for="alcohol">Beer & Alcohol</label><br>
</div>

<p>have any suggestions, let me know</p>
<p>email me</p>