<div class='label-div'>
  <input form='main-form' type="checkbox" id="vegan" name="vegan" value="true">
  <label class='filter-label' form='main-form' for="vegan">Vegan</label><br>
</div>

<div class='label-div'>
  <input form='main-form' type="checkbox" id="vegetarian" name="vegetarian" value="true">
  <label class='filter-label' form='main-form' for="vegetarian">Vegetarian</label><br>
</div>

<div class='label-div'>
  <input form='main-form' type="checkbox" id="spicy" name="spicy" value="true">
  <label class='filter-label' form='main-form' for="spicy">Spicy</label><br>
</div>

