<div class="card">
  <div class='card-tab'>Happy Hour</div>
  <div class="card-body">
    <h4 class="card-subtitle">McDonalds</h4>
    <h2 class="card-title">Double Cheesy Big Mac</h2>
    <hr>
    <h4 class="card-subtitle">Card subtitle</h4>
    <p class="card-text">regular bun, 100% beef patty, American cheese, ketchup, pickle slices, onions
    </p>
    <h4 class="card-subtitle">Card subtitle</h4>
    <p class="card-text">vegan, low-cost
    </p>
  </div>
</div>