<form id='main-form' action="/search" method='GET'>
  <div class='position-relative'>
    <input class='search-bar' type="text" placeholder='Search' name='search'>
    <i class="fa-2x search-bar-icon fas fa-search"></i>
  </div>
    <!-- <input type="checkbox" id="vehicle1" name="vegan" value="true">
    <label for="vehicle1"> I have a bike</label><br> -->
</form>

