<form id='main-form' action="/search" method='GET'>
  <div class='position-relative'>
    <input class='search-bar' type="text" 
    <% if (ingredient) { %>
     value=<%=ingredient%>
    <% } %>

    
    
    placeholder="Craving something with..." name='ingredient'>
    <i class="fa-2x search-bar-icon fas fa-search"></i>
    <i class="fa-1x search-bar-icon search-bar-icon-2 fas fa-search"></i>

  </div>
</form>