<% let hours, minutes, ampm; %>
<% for( let index = 0; index < 1440; index += 15 ) { %>
<% hours = Math.floor(index / 60); %>
<% minutes = index % 60; %>
<% ampm = hours % 24 < 12 ? 'AM' : 'PM'; %>
<% value = `${hours}.${minutes}` %>


<% hours = hours % 12; %>
<% if (hours === 0) { %>
<% hours = 12; %>
<% } %>
<% if (minutes < 10) { %>
<% minutes = '0' + minutes; %>
<% } %>

<% displayTime = `${hours}:${minutes} ${ampm}` %>




<% if (path !== "/" ) { %>
  <% newDay = day.toLowerCase(); %>
  <% let dayStr = newDay.slice(0,3); %>
  <% let index; %> 
<% if (hour === "open") { %>
  <% index = 0; %> 
<% } %> 
<% if (hour === "close") { %>
  <% index = 1; %>
<% } %>
  <% let selected = data.restaurantHours[dayStr][index] %>
  <option <% if (selected == value) { %> selected <% } %> value="<%= value %>"><%= displayTime %></option>
<% }else{ %>
  <option value="<%= value %>"><%= displayTime %></option>
<% } %> 



<% } %>


