<% include ./partials/header %>

<div class='spacer'>
</div>

<div class="container">
  <h1 class='primary-heading'>Discover New Dishes<br>From Your Favorite Spots</h1>
</div>

<div class="container search-bar-container">
  <% include ./partials/searchBar %>
</div>

<!-- 
<div class='spacer-2'>
</div>


<div class="container pb-4">
  <div class="">
    <h2 class='my-title'>Dish Criterea</h2>
  </div>
  <ul class='filter-buttons'>
    <li><button>Vegan</button></li>
    <li><button>Spicy</button></li>
    <li><button class='active'>Happy Hour</button></li>
    <li><button>$10 <&nbsp< /button>
    </li>
  </ul>
</div>



<div class="container pb-4">
  <div class="">
    <h2 class='my-title'>Spot Criterea</h2>
  </div>
  <ul class='filter-buttons'>
    <li><button>Beer</button></li>
    <li><button>Mexican</button></li>
    <li><button class='active'>Something Bomb</button></li>
    <li><button>Hole In The Whole</button></li>
  </ul>
</div> -->


<% include ./partials/footer %>