<% include ./partials/mainHeader %>

<div class='spacer'>
</div>
<div class='spacer'>
</div>
<!-- 
<div class="container">
  <h1 class='primary-heading'>Discover New Dishes<br>From Your Favorite Spots</h1>
</div> -->

<div class="container search-bar-container">
  <% include ./partials/searchBar %>
</div>


<div class="pt-4 pb-1 container">
<h2>I only want to see dishes that are</h2>
</div>

<div class="container">
  <div class="row">
    <div id="home-page-filters" class='mx-auto d-block'>
        <% include ./partials/filtersFood %>
        
    </div>
  </div>
</div> 

<div class='pt-4 pb-1 container'>
<h2>I only want to see dishes that are</h2>
</div>

<div class="container">
  <div class="row">
    <div id="home-page-filters" class='mx-auto d-block'>
        <% include ./partials/filtersSpot %>
    </div>
  </div>
</div> 






<% include ./partials/mainFooter %>