<% include ./partials/mainHeader %>


<div class='container-fluid'>
  <div class="container">
    <div style='min-height:90vh' class="row align-items-center">
      <div class='col p-0'>
        <% include ./partials/searchBar %>
        <h3 class='title'>Food Criteria</h3>
        <div class='d-flex flex-wrap justify-content-center'>
          <% foodFilters.forEach(filter => { %>
          <% include ./partials/filters %>
          <% }) %>
        </div>
        <h3 class='title'>Spot Criteria</h3>
        <div class='d-flex flex-wrap justify-content-center'>
          <% spotFilters.forEach(filter => { %>
          <% include ./partials/filters %>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>


<% include ./partials/mainFooter %>