<% include ./partials/header %>


<div class="my-bg-primary">
  <div class="container pt-2">
    <% include ./partials/searchBar %>
  </div>
</div>








<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <% include ./partials/foodCard %>
    </div>
  </div>
</div>

<% include ./partials/footer %>