<% include ./partials/mainHeader %>


<div class="container-fluid my-bg-primary pb-3">
  <% include ./partials/searchBar %>
</div>


<div class="position-relative">
  <div id='mobile-filters'>
    <i onclick='closeNav()' class="close-button-icon far fa-times-circle"></i>
    <h3 class='heading'>Specify Search</h3>
    <% foodFilters.forEach(filter => { %>
    <% include ./partials/filters %>
    <% }) %>
    <h3 class='heading'>Specify Search</h3>
    <% spotFilters.forEach(filter => { %>
    <% include ./partials/filters %>
    <% }) %>
  </div>
</div>







<div style='min-height:100vh'>



  <div class="container">
    <div class="row">
      <div class="col-lg-9" id='card-holder'>
        <% include ./partials/noResults %>
        <% data.forEach((element, index) => { %>
        <% include ./partials/cardFood %>
        <% }) %>
      </div>
      <div class="col-lg-3 d-none d-lg-block filters " id=' search-page-filters'>
        <h3>Specify Search</h3>
        <% spotFilters.forEach(filter => { %>
        <% include ./partials/filters %>
        <% }) %>
        <h3>Specify Search</h3>
        <% foodFilters.forEach(filter => { %>
        <% include ./partials/filters %>
        <% }) %>
      </div>
    </div>
  </div>

  <!-- closing 100vh -->
</div>

<% if (Object.keys(data).length !== 0) { %>
<div class='my-bg-primary footer'>
  <a href="#target-link">back to the top</a>
</div>
<% } %>


<% include ./partials/mainFooter %>