<% include ../Sections/header %>


<div class="container-fluid my-bg-primary pb-3">
  <% include ../Sections/searchBar %>
</div>










<div style='min-height:100vh'>
  <div class="container">
    <div class="row">
      <div class="col-lg-9" id='card-holder'>
        <% include ../Sections/noResults %>
        <% data.forEach((element, index) => { %>
        <% include ../Sections/cardFood %>
        <% }) %>
      </div>
      <div class="col-lg-3 filters" id='search-page-filters'>
        <i onclick='closeNav()' class="close-button-icon far fa-times-circle"></i>
        <h3 class='heading'>Food Criteria</h3>
        <% spotFilters.forEach(filter => { %>
        <% include ../Sections/filters %>
        <% }) %>
        <h3 class='heading'>Spot Criteria</h3>
        <% foodFilters.forEach(filter => { %>
        <% include ../Sections/filters %>
        <% }) %>
      </div>
    </div>
  </div>

  <!-- closing 100vh -->
</div>

<% if (Object.keys(data).length !== 0) { %>
<div class='my-bg-primary footer'>
  <a href="#target-link">back to the top</a>
</div>
<% } %>

<% include ../Sections/footer %>