<% include ./partials/mainHeader %>




<div class="my-bg-primary">
  <div class="container pt-2">

  </div>
</div>
<div class="container">

</div>


<div class="container">
  <div class="row">
    <div class="col-lg-12" id='card-holder'>

      <% include ./partials/cardTemplate %>

    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-12" id='card-holder'>

      <% include ./partials/cardSpot %>

    </div>
  </div>
</div>




<% include ./partials/mainFooter %>