@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.my-bg-primary {
  background-color: #720B0B; }

#home-page .label-div {
  display: inline-block; }

#home-page input {
  display: none; }

#home-page .filter-label {
  border-radius: 5px;
  margin: 3px 3px;
  border: #fff 2px solid;
  padding: 5px 10px;
  background-color: #720B0B;
  box-shadow: none;
  color: #fff;
  font-size: 16px;
  display: inline-block; }

#home-page :checked + .filter-label {
  background: white;
  color: #720B0B; }

#search-page #search-page-filters .label-div {
  display: block; }

#search-page #search-page-filters input {
  display: none; }

#search-page #search-page-filters .filter-label {
  border-radius: 5px;
  margin: 0px 0px;
  padding: 2px 7px;
  margin-top: 5px;
  background-color: #720B0B;
  box-shadow: none;
  color: #fff;
  font-size: 16px; }

#search-page #search-page-filters :checked + .filter-label {
  background: white;
  color: #720B0B; }

#search-page #search-page-filters .close-button-icon {
  display: none; }

@media only screen and (max-width: 992px) {
  #search-page #search-page-filters {
    padding-right: 0px;
    padding-left: 0px;
    display: block;
    position: fixed;
    right: 0;
    top: 0px;
    background: #720B0B;
    width: 0%;
    height: 100%;
    overflow-x: hidden;
    z-index: 15;
    transition: all .5s; }
    #search-page #search-page-filters .close-button-icon {
      position: absolute;
      top: 60px;
      right: 20px;
      font-size: 2rem;
      color: white;
      opacity: 85%;
      display: block; }
    #search-page #search-page-filters .label-div {
      position: relative;
      top: 130px;
      width: 100%;
      text-align: center; }
    #search-page #search-page-filters .heading {
      position: relative;
      top: 130px;
      width: 100%;
      text-align: center;
      color: white;
      font-size: 20px; }
    #search-page #search-page-filters input {
      display: none; }
    #search-page #search-page-filters .filter-label {
      border-radius: 5px;
      margin: 5px 5px;
      border: #fff 1px solid;
      padding: 2px 7px;
      margin-top: 5px;
      background-color: #720B0B;
      box-shadow: none;
      color: #fff;
      font-size: 16px;
      justify-content: center; }
    #search-page #search-page-filters :checked + .filter-label {
      background: white;
      color: #720B0B;
      border: #fff 1px solid; } }

.card {
  position: relative;
  margin-top: 30px;
  margin-left: 2px;
  margin-right: 2px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.6); }
  .card .card-tab {
    position: absolute;
    top: -22px;
    right: 20px;
    font-size: 13px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 2px 5px 10px 5px;
    z-index: -2; }
  .card .card-body {
    padding: 18px 20px 18px 20px; }
  .card .card-title {
    font-size: 20px;
    font-weight: 600;
    color: #3D3A3E;
    margin-bottom: 0px !important; }
  .card .card-subtitle {
    font-size: 14px;
    font-weight: 600;
    color: #919191;
    padding-bottom: 2px; }
  .card .card-text {
    font-size: 12px;
    border-bottom: 12px; }

hr {
  margin-top: 12px; }

.card-link {
  color: #720B0B !important;
  text-decoration: underline; }

#home-page .search-bar-slider {
  display: none; }

#search-page .search-bar-container {
  padding: 0; }

.search-bar-container .search-bar {
  width: 100%;
  height: 45px;
  display: block !important;
  margin: 0 auto;
  border-radius: 5px;
  border: none; }

.search-bar-container .search-bar[type=text] {
  font-size: 26px;
  padding: 5px 20px 5px 44px;
  font-weight: 500; }

.search-bar-container .search-bar-icon {
  font-size: 30px;
  position: absolute;
  top: 7px;
  left: 7px;
  color: #720B0B;
  opacity: 85%; }

.search-bar-container .search-bar-slider {
  display: none; }

@media only screen and (max-width: 992px) {
  .search-bar-container .search-bar {
    width: 100%;
    height: 38px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border: none; }
  .search-bar-container .search-bar[type=text] {
    font-size: 18px;
    padding: 5px 44px 5px 44px;
    font-weight: 500; }
  .search-bar-container .search-bar-icon {
    font-size: 25px;
    position: absolute;
    z-index: 15;
    top: 7px;
    left: 7px;
    color: #720B0B;
    opacity: 85%; }
  .search-bar-container .search-bar-slider {
    display: block;
    font-size: 28px;
    position: absolute;
    z-index: 15;
    top: 6px;
    right: 7px;
    color: #720B0B;
    opacity: 85%; } }

#admin-edit-form label {
  margin-bottom: 0px !important;
  font-size: 14px !important; }

#admin-edit-form .form-control[type=text] {
  font-size: 14px !important; }

#admin-edit-form .form-control {
  padding: 0px !important;
  height: auto !important; }

body, html {
  font-family: 'Montserrat', sans-serif; }

h3 {
  color: white; }

.nav-link {
  color: white !important; }

#home-page h1 {
  font-size: 34px; }

#home-page h2 {
  font-size: 20px; }

#home-page h1, #home-page h2, #home-page h3, #home-page h4, #home-page h5, #home-page h6, #home-page p {
  color: white;
  text-align: center; }

#home-page .title {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 15px; }

#search-page {
  background: #d6d6d6; }

.cuz {
  margin: 0 auto; }

.filters h3 {
  padding-top: 20px;
  color: black;
  font-size: 20px; }

.form-submit-button {
  border-radius: 5px;
  margin: 3px 1px;
  border: #fff 2px solid;
  padding: 5px 10px;
  background-color: blue;
  box-shadow: none;
  color: #fff;
  font-size: 16px;
  display: inline-block; }

.primary-heading {
  font-size: 24px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: center; }

.primary-heading-container {
  position: relative;
  top: 80px; }

#home-title {
  font-size: 26px;
  color: #fff; }

#home-page {
  background-color: #720B0B; }

.my-title {
  color: #fff;
  font-size: 16px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 0px; }

.nav-col {
  background-color: #720B0B !important; }

.no-results-message {
  text-align: center;
  margin-top: 30px;
  font-size: 20px; }

.footer {
  position: static;
  bottom: 0px;
  right: 0px;
  left: 0px;
  text-align: center;
  color: white;
  margin-top: 30px;
  padding-top: 5px;
  padding-bottom: 5px; }
  .footer a {
    color: white;
    text-decoration: underline; }

.adding-form {
  position: relative;
  display: none; }
